<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Введите новое сообщение...", onkeyup: "onTypeChar()" %>
     <p>Characters left: <span id="char_count_out_id">140</span></p>
  </div>
  <%= f.submit "Сохранить", class: "btn btn-large btn-primary" %>
<% end %>
